@font-face {
	font-family: 'MarvelRegular-Dj83';
	src: local('MarvelRegular-Dj83'),
		url('./fonts/MarvelRegular-Dj83.ttf') format('truetype');
	font-weight: normal;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
